<div class="container nopadding">
<div class="row">
    <h1>Practicos Realizados en el año 2022</h1>
    <div class="col">
        <ul>
            <li>
                <h3>TP 1</h3>
                <img src="../../../assets/1.jpg">
            </li>
            <li>
                <h3>TP 2</h3>
                <img src="../../../assets/2a.jpg">
                <img src="../../../assets/2b.jpg">
            </li>
            <li>
                <h3>TP 3</h3>
                <img src="../../../assets/3a.jpg">
                <img src="../../../assets/3b.jpg">
            </li>
            <li>
                <h3>TP 4</h3>
                <img src="../../../assets/4.jpg">
            </li>
            <li>
                <h3>TP 5</h3>
                <img src="../../../assets/5a.jpg">
                <img src="../../../assets/5b.jpg">
            </li>
            <li>
                <h3>TP 6</h3>
                <img src="../../../assets/6a.jpg">
                <img src="../../../assets/6b.jpg">
            </li>
            <li>
                <h3>TP 7</h3>
                <img src="../../../assets/7.jpg">
            </li>
            <li>
                <h3>TP 8</h3>
                <img src="../../../assets/8.jpg">
            </li>
            <li>
                <h3>TP 9</h3>
                <img src="../../../assets/9.jpg">
            </li>
            <li>
                <h3>TP 10</h3>
                <img src="../../../assets/10.jpg">
            </li>
            <li>
                <h3>TP 11</h3>
                <img src="../../../assets/11.jpg">
            </li>
            <li>
                <h3>TP 12</h3>
                <img src="../../../assets/12.jpg">
            </li>
            <li>
                <h3>TP 13</h3>
                <img src="../../../assets/13.jpg">
            </li>
            <li>
                <h3>TP 14</h3>
                <img src="../../../assets/14.jpg">
            </li>
            <li>
                <h3>TP 15</h3>
                <img src="../../../assets/15.jpg">
            </li>
            <li>
                <h3>TP 16</h3>
                <img src="../../../assets/16.jpg">
            </li>
            <li>
                <h3>TP 17</h3>
                <img src="../../../assets/17.jpg">
            </li>
            <li>
                <h3>TP 18</h3>
                <img src="../../../assets/18.jpg">
            </li>
            <li>
                <h3>TP 19</h3>
                <img src="../../../assets/19.jpg">
            </li>
            <li>
                <h3>TP 20</h3>
                <img src="../../../assets/20.jpg">
            </li>
            <li>
                <h3>TP 21</h3>
                <img src="../../../assets/21.jpg">
            </li>
            <li>
                <h3>TP 22</h3>
                <img src="../../../assets/22.jpg">
            </li>
            <li>
                <h3>TP 23</h3>
                <img src="../../../assets/23.jpg">
            </li>
            <li>
                <h3>TP 24</h3>
                <img src="../../../assets/24.jpg">
            </li>
            <li>
                <h3>TP 25</h3>
                <img src="../../../assets/25.jpg">
            </li>
            <li>
                <h3>TP 26</h3>
                <img src="../../../assets/26.jpg">
            </li>
            <li>
                <h3>TP 27</h3>
                <img src="../../../assets/27a.jpeg">
                <img src="../../../assets/27b.jpeg">
            </li>
        </ul>
    </div>

</div>
</div>
<app-botonera></app-botonera>
<app-footer></app-footer>