<div class="container">
    <div class="row">

        <div class="col-lg-4">
            <a href="https://facetvirtual.facet.unt.edu.ar/"><img src="../../../assets/facetvirtual.png" id="facet"></a>
        </div>
        <div class="col-lg-4">

            <a href="https://drive.google.com/drive/folders/1z8m2EqcKvErAz6QwScVF-X9uoLnUmPny"><button
                    class="buttonDownload">Descargar</button></a>
        </div>
        <div class="col-lg-4">
            <a href="https://www.linkedin.com/in/simon-jimenez-3a3981253/"><img src="../../../assets/linkedin.png"
                    id="linkedin"></a>
            <a href="https://github.com/Saimondelgymnas"><img src="../../../assets/github.png" id="github"></a>
            <a href="https://www.instagram.com/elsaimon_delag/"><img src="../../../assets/instagram.png" id="insta"></a>
        </div>
    </div>
</div>